# Don't commit Gemfile.lock in gems
Gemfile.lock

# Don't commit files that could have been generated in examples
examples/*/.bundle
examples/*/bin
examples/*/Gemfile.lock
examples/*/run_logs
examples/*/vendor
